@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 63 0% 100%;
    --foreground: 63 0% 10%;
    --card: 63 0% 100%;
    --card-foreground: 63 0% 15%;
    --popover: 63 0% 100%;
    --popover-foreground: 63 95% 10%;
    --primary: 63 45% 27%;
    --primary-foreground: 0 0% 100%;
    --secondary: 63 10% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 25 10% 95%;
    --muted-foreground: 63 0% 40%;
    --accent: 25 10% 90%;
    --accent-foreground: 63 0% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 63 0% 100%;
    --border: 63 20% 82%;
    --input: 63 20% 50%;
    --ring: 63 45% 27%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 63 10% 10%;
    --foreground: 63 0% 100%;
    --card: 63 0% 10%;
    --card-foreground: 63 0% 100%;
    --popover: 63 10% 5%;
    --popover-foreground: 63 0% 100%;
    --primary: 63 45% 27%;
    --primary-foreground: 0 0% 100%;
    --secondary: 63 10% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 25 10% 25%;
    --muted-foreground: 63 0% 65%;
    --accent: 25 10% 25%;
    --accent-foreground: 63 0% 95%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 63 0% 100%;
    --border: 63 20% 50%;
    --input: 63 20% 50%;
    --ring: 63 45% 27%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  .slowmo {
    @apply duration-300 transition-all;
  }
}
